<html>
    <header>
        <title>Strange Strains</title>
        <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"> 
        <link rel ="stylesheet" href = "/stylesheet/main.css">
    </header>
    <body>
        <div class = "ui container">
            <div class="ui menu" id = "navbar">
                <a class="header item" href = "/">Strange Strains</a>
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
                </div>
                <a class="ui right item">Login</a>
                <a class="item">Sign Up</a>
            </div>
        </div>
        
