<% include ../partials/header %>

    <div class="ui container">
        <div>
            <h1 class = "ui header"><%= newUser.username%></h1>
        </div>
        <div class = "small ui image">
            <img src="<%= newUser.image%>">
        </div>
        <div>
            <p><%= newUser.description%></p>
        </div>
        <div>
            <p><%= newUser.email%></p>
        </div>
        
    </div>

<% include ../partials/footer %>