<% include ../partials/header %>

    <div class = "ui container">
        <form action="/login", method="POST">
            <div>
                <input type="text", placeholder ="username", name = "username">
            </div>
            <div>
                <input type="password", placeholder ="password", name = "password">
            </div>
            <div>
                <button class = "large ui primary button">Login</button>
            </div>
            <div>
                <button class="ui button">
                    <a href="/strains">Cancel</a>
                </button>
            </div>
        </form>
    </div>

<% include ../partials/footer %>